:root {
  --background-color: #e5e5e5;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
}

div.logo {
  width: 32px;
  height: 49px;
  position: relative;
  left: 83px;
  top: 39px;
}

div.logo img {
  position: relative;
  width: 31.09px;
  height: 48px;
}

section.formulario {
  width: 46.5vw;
  position: relative;
  height: calc(100vh - (168px - 49px));
  top: calc(168px - 49px);
  left: calc(15.6vw - 32px);
}

section.formulario textarea {
  background-color: var(--background-color);
  border: none;
  resize: none;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  line-height: 48px;
  color: #0a3871;
  width: 46vw;
  border-radius: 10px;
}

textarea::placeholder {
  color: #0a3871; /* Definindo a cor para o placeholder */
}
section.formulario textarea:focus {
  outline: none;
}

.info-buttons {
  position: absolute;
  bottom: 55px;
}

.info-restricao {
  display: flex;
  width: 252px;
  height: 18px;
  align-items: center;
  justify-content: space-between;
  line-height: 18px;
}

.info-restricao p {
  font-size: 12px;
  color: #495057;
  width: 228px;
}
.button {
  cursor: pointer;
  transition: transform 1s;
  border-radius: 24px;

}

.info-buttons button {
  width: 22.2vw;
  height: 67px;
  line-height: 19.36px;
  padding: 24px;
  border: none;
  margin-top: 16px;
  
}

.info-buttons button:hover {
  transform: scale(1.1);
}
.info-buttons .button-criptografar {
  background-color: #0a3871;
  color: #d8dfe8;
  margin-right: 15px;
}

.info-buttons .button-descriptografar {
  background-color: #d8dfe8;
  color: #0a3871;
  border: solid 1px #0a3871;
  margin: 0;
}

section.resultado {
  width: 400px;
  height: 92vh;
  border-radius: 32px;
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section.resultado .info-resultados {
  width: 336px;
  height: 80%;
  position: absolute;
  top: 32px;
}

.info-resultados span {
  font-size: 24px;
  line-height: 36px;
  font-family: sans-serif;
  font-weight: 400;
  color: #495057;
}

section.resultado button {
  position: absolute;
  bottom: 32px;
  width: 336px;
  height: 67px;
  color: #0A3871;
  border: solid 1px #0A3871;
  background-color: #FFFFFF;
}

section.resultado button:hover {
  transform: scale(1.1)
}




section.resultado .texto-1 {
  font-size: 24px;
  color: #343a40;
  line-height: 28.8px;
  width: 336px;
  height: 58px;
}

section.resultado .texto-2 {
  line-height: 24px;
  color: #495057;
  font-size: 16px;
}

.display-none {
  display: none;
}